<div class='w-75 p-3 mx-5 d-flex flex-column bd-highlight'>

  <h1>マイページ</h1>
  　<%# binding.pry %>
    <span class='h2'><%= @user.name %></span>
     <span class='h4'>@<%= @user.twitter_user_name %></span>
  <h1> </h1>
  <h1>投稿した反省文</h1>
  　<%# binding.pry %>


  <div class='d-flex flex-column bd-highlight'>
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p><%= '.no_result' %></p>
    <% end %>
    </div>
  
<%= paginate @posts, theme: 'twitter-bootstrap-4'%>

</div>
