<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head> 

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h3 class="my-0 mr-md-auto font-weight-normal">
      <%= link_to "有吉反省会onWeb", root_path, id: 'toptitle' %>
    </h3>
    
      <nav class="my-2 my-md-0 mr-md-3">
        <% if logged_in? %>
          <% if twitter_logged_in? %>
            <%= link_to "マイページ", class: "p-2 text-dark" %> |
            <%= link_to "反省一覧", posts_path, class: "p-2 text-dark" %> |
            <%= link_to "ログアウト", class: "p-2 text-dark" %>
          <% else %>
            <%= link_to "反省一覧", posts_path, class: "p-2 text-dark" %> |
            <%= link_to "Twitter連携して反省してみる", new_post_path, class: "p-2 text-dark" %> 
          <% end %>
        <% else %>
          <%= link_to "反省一覧", posts_path, class: "p-2 text-dark" %> |
          <%= link_to "Twitter連携して反省してみる", new_post_path, class: "p-2 text-dark" %> |
          <%= link_to "ゲストとして反省してみる", new_post_path, class: "p-2 text-dark" %>
        <% end %>
      </nav>
    </div>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>